#pageLayout {
  width: 100%;
}

#pageLayoutHero {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

#pageLayoutHeroImage {
  width: 100%;
  height: 18rem;
  object-fit: cover;
}

#pageLayoutHeroTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

#pageLayoutContent {
  max-width: 48rem;
  margin: 0 auto;
  padding: 1rem;

  @media (min-width: 1024px) {
    max-width: 60rem;
  }
}
