:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-bg: hsl(221, 83%, 98%);
  --color-border: hsl(221, 83%, 90%);
  --color-border-alt: hsla(221, 83%, 20%, 0.2);

  --color-primary: hsl(221, 83%, 53%);
  --color-primary-hover: hsl(221, 83%, 47%);
  --color-text-primary: hsl(221, 83%, 24%);

  --color-secondary: hsl(262, 83%, 58%);
  --color-secondary-hover: hsl(262, 83%, 50%);
  --color-text-secondary: hsl(262, 83%, 34%);

  --color-accent: hsl(262, 90%, 66%);

  --color-surface: white;
  --color-surface-alt: hsl(221, 83%, 96%);

  --color-text-muted: hsl(221, 24%, 65%);
  --color-text-inverse: white;

  --color-success: hsl(142, 83%, 38%);
  --color-warning: hsl(38, 83%, 48%);
  --color-error: hsl(0, 83%, 70%);
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  background: var(--color-bg);
  color: var(--color-text-primary);
}
